{%- assign hydration = hydration | default: 'on:idle' -%}

<is-land {{ hydration }}>
  <div
    data-section-id="{{ section.id }}"
    data-section-type="promo-grid">
    <div class="promo-grid collection-related" >
      <div class="flex-grid flex-grid--gutters flex-grid--{{ section.id }}">
		{%- liquid
			assign collection_related = collection.metafields.custom.collection_related.value
		-%}
        {%- for item in collection_related -%}
			<div class="flex-grid__item flex-grid__item--14 flex-grid__item--25-mobile type-image">
				<a class="promo-image-wrap" href="{{ item.url }}" alt="{{- item.handle -}}">
					{%- if item.featured_image != blank -%}
						<div class="image-wrap" style="height: 0; padding-bottom: 100%">
							{%- render 'image-element',
							img: item.featured_image,
							loading: loading,
							widths: '900, 1080, 1600',
							sizeVariable: 33,
							-%}
						</div>
					{%- else -%}
						{{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
					{%- endif -%}
					
					<h3 class="collection-related--title">{{- item.title -}}</h3>
				</a>
			</div>
		{%- endfor -%}
      </div>
    </div>


    {% comment %} {%- if collection_related == blank -%}
      <div class="page-width text-center">
        <div class="rte clearfix">
          <p>
            {{ 'info.section_no_content' | t }}
          </p>
        </div>
      </div>
    {%- endif -%} {% endcomment %}

    
  </div>

  <template data-island>
    <script type="module">
      import 'components/section-promo-grid';
    </script>
  </template>
</is-land>