{%- paginate customer.orders by 20 -%}

<div class="page-width page-content customer-page main-account">
  <header class="section-header">
    <h2 class="section-header__title">{{ 'labels.my_account' | t }}</h2>
    <div class="logout-link">
      <a href="{{ routes.account_logout_url }}"><span>{% render 'icon-user' %}</span>{{ 'actions.log_out'| t }}</a>
    </div>
  </header>

  <div class="grid clearfix account-content">

    <div class="grid__item medium-up--three-quarters">
      <h5 class="order-history-title">{{ 'labels.order_history' | t }}</h5>

      {%- if customer.orders.size != 0 -%}

        <table class="table--responsive">
          <thead>
            <tr>
              <th>{{ 'labels.order' | t }}</th>
              <th>{{ 'labels.date' | t }}</th>
              <th>{{ 'labels.payment_status' | t }}</th>
              <th>{{ 'labels.fulfillment_status' | t }}</th>
              <th>{{ 'labels.total' | t }}</th>
            </tr>
          </thead>
          <tbody>
            {%- for order in customer.orders -%}
              <tr class="table__section">
                <td data-label="{{ 'labels.order' | t }}">{{ order.name | link_to: order.customer_url }}</td>
                <td data-label="{{ 'labels.date' | t }}">{{ order.created_at | time_tag: format: 'date' }}</td>
                <td data-label="{{ 'labels.payment_status' | t }}">{{ order.financial_status_label }}</td>
                <td data-label="{{ 'labels.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                <td data-label="{{ 'labels.total' | t }}">{{ order.total_price | money_with_currency }}</td>
              </tr>
            {%- endfor -%}
          </tbody>
        </table>

        <hr class="hr--clear-desktop">

      {%- else -%}

        <p>{{ 'info.no_orders' | t }}</p>

      {%- endif -%}
    </div>

    <div class="grid__item medium-up--one-quarter">
      <h5>{{ 'labels.account_details' | t }}</h5>

      {{ customer.default_address | format_address }}

      <p><a href="{{ routes.account_addresses_url }}" class="text-link">{{ 'actions.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
      {% if customer.tags contains "pay-on-account" %}
        <h5 class="bss-customize-heading-text-link">Pay On Account Orders</h5>
        <p><a href="https://kraftcolour.myshopify.com/apps/customer-portal/purchase-late" class="bss-customize-text-link">Cart purchase</a></p>
        <p><a href="https://kraftcolour.myshopify.com/apps/customer-portal/purchase-late/orders" class="bss-customize-text-link">Order history</a></p>
      {% endif %}
      
    </div>

  </div>

  {%- liquid
    if paginate.pages > 1
      render 'pagination', paginate: paginate
    endif
  -%}
</div>
{%- endpaginate -%}
